
    <ul class="SideMenu">

        <li>
            @Html.ActionLink("Products", "Create", "AddProducts")
        </li>
        <li>
            @Html.ActionLink("Roles", "Createrole", "Role")
        </li>
        <li>
            @Html.ActionLink("Orders", "AllOrdersList", "Admin")
        </li>
        <li>
            @Html.ActionLink("Users", "AllUsersList", "Admin")
        </li>

        <li>
            @Html.ActionLink("All Products", "Index", "AddProducts")
        </li>
        
`    </ul>
